.movieListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    gap: 25px;
    justify-content: space-evenly;
}

.errorContainer {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    box-shadow: 0 3px 10px 0 #aaa;
}

.errorMessage {
    margin-bottom: 2px;
}